<div class="about-section">
    <h1>Acerca de nosotros</h1>
    <p>Plataforma dedicada a la mujer</p>
    <p>Compra los productos con las características especificas que tú desees, aquí te damos nuestra opinión de ellos.</p>
</div>

<h2 style="text-align:center">NUESTRO EQUIPO</h2>
<div class="row justify-content-between">
    <div class="col-md-6">
        <div class="column">
            <div class="card">
                <img style="margin-left:150px" src="~/Content/img/yoY.png" alt="Yudith" width="300" height="400">
                <div class="container text-center">
                    <h2>Yudith Rubio</h2>
                    <p class="title">CEO & FUNDER</p>
                    <p>Ing. Informática</p>
                    <strong class="m-4" style="color:darkblue; margin-bottom:50px;">Correo: <a class="m-1" style="color:cadetblue" href="briana.rubio17@tectijuana.edu.mx">briana.rubio17@tectijuana.edu.mx</strong></a>
                    <p><button class="button">Contactar</button></p>
                </div>
            </div>
        </div>
        </div>
    <div class="col-md-6">
        <div class="column">
            <div class="card text-center">
                <img style="margin-left:150px" src="~/Content/img/Perla.jpg" alt="Perla" width="300" height="400">
                <div class="container ">
                    <h2>Perla Abrego</h2>
                    <p class="title">CEO & FUNDER</p>
                    <p>Ing. Informática</p>
                    <strong class="m-4" style="color:darkblue;">Correo:<a class="m-1" style="color:cadetblue" href="perla.abrego17@tectijuana.edu.mx">perla.abrego17@tectijuana.edu.mx</strong></a>
                    <p><button class="button">Contactar</button></p>
                </div>
            </div>
        </div>
    </div>
    </div>
        

