<div style="background-color:bisque; color:white">
    <div class="row justify-content-between">
        <div class="col-md-5.5" style="margin-top:10px;">
            <div class="column">
                <div class="container justify-content-center">
                    <table style="margin-left:150px" class="text-white">
                        <form action="mailto:perla.abrego17@tectijuana.edu.mx" target="_blank">

                            <p class="text-dark shadow">

                                1.- SELECCIONE SU MARCA FAVORITA DE MAQUILLAJE:<br>

                                <input type="checkbox" name="peliculas"> CLINIQUE<br>
                                <input type="checkbox" name="deportes"> DIOR<br>
                                <input type="checkbox" name="videojuegos"> NYX<br>
                                <input type="checkbox" name="videojuegos"> CHANEL<br>
                                <input type="checkbox" name="videojuegos">OTRA<label></label>

                            </p>

                            <p class="text-dark shadow">
                                2.- SELECCIONE QUE LE PARECE LA MARCA DE SU PRODUCTO FAVORITO:<br />

                                <input type="checkbox" name="videojuegos">EXCELENTE<br>
                                <input type="checkbox" name="videojuegos">BUENO<br>
                                <input type="checkbox" name="videojuegos"> REGULAR<br>
                                <input type="checkbox" name="videojuegos"> MALO<br>

                            </p>
                            <p class="text-dark shadow">
                                3.- LO PRIMERO QUE TOMA EN CUENTA AL COMPRAR SU MAQUILLAJE ES: <br />

                                <input type="checkbox" name="videojuegos">PRECIO<br>
                                <input type="checkbox" name="videojuegos">COBERTURA<br>
                                <input type="checkbox" name="videojuegos">MARCA<br>
                            </p>

                            <p class="text-dark shadow">
                                4.- ¿EN DÓNDE ADQUIERE NORMALMENTE SU MAQUILLAJE?: <br />

                                <input type="checkbox" name="videojuegos">EN LÍNEA<br>
                                <input type="checkbox" name="videojuegos">EN TIENDA<br>
                                <input type="checkbox" name="videojuegos">COMERCIANTES<br>
                            </p>

                            <p><input class="btn btn-block btn-outline-danger" type="submit" value="Enviar información"></p>

                        </form>
                    </table>
                </div>
            </div>
        </div>
    <div class="row justify-content-between">
        <div class="col-md-3" style="margin-top:40px;">
            <div class="column">
                <div class="container justify-content-center">
                <img src="~/Content/img/brochas.jpg" width="500" height="520" />
                    </div>
            </div>
            </div>
        </div>
    </div>
            </div>
