
@{
    ViewBag.Title = "Index";
}
<img src="~/Content/img/2Brochas.jpg" width="100%" height="300" />

<h2 class="text-center">MAQUILLAJE DE OJOS</h2>
<
<div class="row justify-content-center m-4">
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/MaquillajeOjos/anastacia.jpg" alt="" height="450">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/MaquillajeOjos/brow.jpg" alt="" height="450">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/MaquillajeOjos/covergirl.jpg" alt="" height="450">
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center m-4">
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/MaquillajeOjos/covergirl.jpg" alt="" height="450">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/MaquillajeOjos/milani.jpg" alt="" height="450">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/MaquillajeOjos/paradise.jpg" alt="" height="450">
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center m-4">
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/MaquillajeOjos/sombras.jpg" alt="" height="450">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/MaquillajeOjos/tinta.jpg" alt="" height="450">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/MaquillajeOjos/sombra.jpg" alt="" height="450">
            </div>
        </div>
    </div>
</div>