
@{
    ViewBag.Title = "Index";
}

<h2>MAQUILLAJE DE OJOS</h2>
<div class="row justify-content-center m-4">
    <div class="col-md-5">
        <div class="card mb-5">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/agua.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="card mb-5">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/agua.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center m-4">
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/agua.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/agua.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/agua.jpg" alt="">
            </div>
        </div>
    </div>
