
@{
    ViewBag.Title = "Index";
}

<img src="~/Content/img/labiales.jpg" width="100%" height="300" />

<h2 class="text-center">MAQUILLAJE DE LABIOS</h2>
<
<div class="row justify-content-center m-4">
    <div class="col-md-3">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/MaquillajeLabiales/BABY LIPS® MOISTURIZING LIP BALM.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/MaquillajeLabiales/electric shine.png" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/MaquillajeLabiales/glitter lip fix.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center m-4">
    <div class="col-md-3">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/MaquillajeLabiales/SUPERSTAY MATTE INK CITY.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/MaquillajeLabiales/CS MATTE METAL COUNTDOWN.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/MaquillajeLabiales/Labial Mate Superstay.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center m-4">
    <div class="col-md-3">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/MaquillajeLabiales/MATTE METALLICS LIPSTICK.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/MaquillajeLabiales/METALLIC FOIL.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4">
            <div class="card-header bg-danger">
            </div>
            <div class="card-body">
                <img class="d-block w-100" src="~/Content/img/MaquillajeLabiales/SUPERSTAY 24® LIQUID LIPSTICK.jpg" alt="">
            </div>
        </div>
    </div>
</div>

